@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ var selection = CurrentPage.Site().Children(); }

@if (selection.Any()){

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Project Details <span class="caret"></span></a>
        <ul class="dropdown-menu">

    @foreach (var item in selection)
    {
       if(item.Name == "Projects")
       {
            foreach(var subItem in item.Children.Where("Visible"))
            {   
              if(subItem.Status == "Completed")
                {
                    <li>
                        <a href="@subItem.Url">@subItem.Name</a>
                    </li>
                }
            }

        }
    }
        </ul>
</li>
}