@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
	var selection = CurrentPage.Site().FirstChild("projectsMain").Children()
						.Where("Visible")
						.OrderBy("CreateDate desc").Take(3);
}

<div style="height: 85vh;">
    <ul>
        @foreach (var item in selection)
{
<div class="article">
        <div class="articletitle"><h1>@item.Name</h1></div>
        <div class="articlepreview">@Umbraco.Truncate(@item.projectContents,100)
        <a href="@item.Url">Read More..</a></div>
    </div>
    <hr/>
}
    </ul>
</div>