<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePAge ANY>
<!ATTLIST homePAge id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
<!ELEMENT projectsMain ANY>
<!ATTLIST projectsMain id ID #REQUIRED>
<!ELEMENT projectsItem ANY>
<!ATTLIST projectsItem id ID #REQUIRED>
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT comment ANY>
<!ATTLIST comment id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
]>
<root id="-1">
  <homePAge id="1127" key="06ba3340-e01a-4a1f-96b3-c06f2dab4328" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-10-08T11:30:04" updateDate="2017-10-08T11:30:04" nodeName="HomePage" urlName="homepage" path="-1,1127" isDoc="" nodeType="1062" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1051" nodeTypeAlias="homePAge">
    <umbracoNaviHide>0</umbracoNaviHide>
    <footer><![CDATA[Site footer]]></footer>
    <mainContent><![CDATA[<p>Some content</p>]]></mainContent>
    <siteTitle><![CDATA[Site Title]]></siteTitle>
    <about id="1096" key="f633f54d-b47c-4b11-b96e-08b3bb454de7" parentID="1127" level="2" creatorID="0" sortOrder="1" createDate="2017-10-04T22:06:16" updateDate="2017-10-08T11:30:29" nodeName="About" urlName="about" path="-1,1127,1096" isDoc="" nodeType="1092" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1091" nodeTypeAlias="about">
      <gridLayout><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "About Us",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": true
                }
              ],
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "a6686e79-2a5c-4cec-756a-75361f0987cf",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></gridLayout>
    </about>
    <articlesMain id="1100" key="1c2ee4b8-7ebd-4372-941b-7bef84ad4228" parentID="1127" level="2" creatorID="0" sortOrder="2" createDate="2017-10-04T22:18:47" updateDate="2017-10-08T11:30:42" nodeName="Articles" urlName="articles" path="-1,1127,1100" isDoc="" nodeType="1068" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1067" nodeTypeAlias="articlesMain">
      <articlesBodyText><![CDATA[<p>List of Articles</p>]]></articlesBodyText>
      <articlesTitle><![CDATA[Articles]]></articlesTitle>
      <articlesItem id="1142" key="6dab0357-b9ea-426b-821a-8ff26ac5c77b" parentID="1100" level="3" creatorID="0" sortOrder="0" createDate="2017-10-08T17:00:42" updateDate="2017-10-08T17:00:42" nodeName="First Article" urlName="first-article" path="-1,1127,1100,1142" isDoc="" nodeType="1074" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1070" nodeTypeAlias="articlesItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContents><![CDATA[<p>Content first article</p>
<p> </p>]]></articleContents>
        <articleTitle><![CDATA[First Article ]]></articleTitle>
      </articlesItem>
      <articlesItem id="1143" key="da72a517-253e-4255-969d-b878fd2ce899" parentID="1100" level="3" creatorID="0" sortOrder="1" createDate="2017-10-08T17:01:13" updateDate="2017-10-08T17:01:13" nodeName="Second Article" urlName="second-article" path="-1,1127,1100,1143" isDoc="" nodeType="1074" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1070" nodeTypeAlias="articlesItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContents><![CDATA[<p>Content second article</p>]]></articleContents>
        <articleTitle><![CDATA[Second Article]]></articleTitle>
      </articlesItem>
    </articlesMain>
    <projectsMain id="1101" key="31e384e1-802a-4364-8048-c5ba7748681f" parentID="1127" level="2" creatorID="0" sortOrder="3" createDate="2017-10-04T22:19:22" updateDate="2017-10-08T11:30:51" nodeName="Projects" urlName="projects" path="-1,1127,1101" isDoc="" nodeType="1077" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1076" nodeTypeAlias="projectsMain">
      <projectsBodyText><![CDATA[<p>List of projects</p>]]></projectsBodyText>
      <projectsTitle><![CDATA[Projects]]></projectsTitle>
      <projectsItem id="1135" key="af0b8638-4aa0-479b-a9d8-4739f3f7c2f0" parentID="1101" level="3" creatorID="0" sortOrder="0" createDate="2017-10-08T13:28:42" updateDate="2017-10-08T16:57:53" nodeName="First Project" urlName="first-project" path="-1,1127,1101,1135" isDoc="" nodeType="1080" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1079" nodeTypeAlias="projectsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[First Project]]></projectTitle>
        <projectContents><![CDATA[<p>Content first project</p>]]></projectContents>
        <status><![CDATA[Completed]]></status>
      </projectsItem>
      <projectsItem id="1139" key="193a644e-3675-4711-a984-e8044f60e885" parentID="1101" level="3" creatorID="0" sortOrder="1" createDate="2017-10-08T16:57:25" updateDate="2017-10-08T16:57:25" nodeName="Second Project" urlName="second-project" path="-1,1127,1101,1139" isDoc="" nodeType="1080" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1079" nodeTypeAlias="projectsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Second Project]]></projectTitle>
        <projectContents><![CDATA[<p>Content second project</p>]]></projectContents>
        <status><![CDATA[Underdevelopment]]></status>
      </projectsItem>
      <projectsItem id="1140" key="c873a500-6b58-4ec9-8f44-ad958d89a9b7" parentID="1101" level="3" creatorID="0" sortOrder="2" createDate="2017-10-08T16:58:37" updateDate="2017-10-08T16:58:37" nodeName="Third Project" urlName="third-project" path="-1,1127,1101,1140" isDoc="" nodeType="1080" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1079" nodeTypeAlias="projectsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Third Project]]></projectTitle>
        <projectContents><![CDATA[<p>Content third project</p>]]></projectContents>
        <status><![CDATA[Initiated]]></status>
      </projectsItem>
      <projectsItem id="1141" key="14aa07f1-d97e-4acd-a609-936796e437dc" parentID="1101" level="3" creatorID="0" sortOrder="3" createDate="2017-10-08T16:59:45" updateDate="2017-10-08T16:59:45" nodeName="Fourth Project" urlName="fourth-project" path="-1,1127,1101,1141" isDoc="" nodeType="1080" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1079" nodeTypeAlias="projectsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Fourth Project ]]></projectTitle>
        <projectContents><![CDATA[<p>Content fourth project </p>]]></projectContents>
        <status><![CDATA[Idea]]></status>
      </projectsItem>
    </projectsMain>
    <contactPage id="1105" key="c47ecb57-9f1b-435f-83e3-081ef15a311e" parentID="1127" level="2" creatorID="0" sortOrder="4" createDate="2017-10-04T22:25:25" updateDate="2017-10-08T11:31:00" nodeName="Contact Us" urlName="contact-us" path="-1,1127,1105" isDoc="" nodeType="1103" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1102" nodeTypeAlias="contactPage">
      <umbracoNaviHide>0</umbracoNaviHide>
    </contactPage>
    <textPage id="1131" key="c6c30427-d0f1-4e60-93a4-1cad41a87a79" parentID="1127" level="2" creatorID="0" sortOrder="7" createDate="2017-10-08T12:01:39" updateDate="2017-10-08T12:01:39" nodeName="Login" urlName="login" path="-1,1127,1131" isDoc="" nodeType="1065" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1118" nodeTypeAlias="textPage">
      <umbracoNaviHide>0</umbracoNaviHide>
    </textPage>
    <textPage id="1132" key="52319516-90d9-488c-9a99-8c341b79a9b1" parentID="1127" level="2" creatorID="0" sortOrder="8" createDate="2017-10-08T12:04:34" updateDate="2017-10-08T16:49:07" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1127,1132" isDoc="" nodeType="1065" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1064" nodeTypeAlias="textPage">
      <umbracoNaviHide>1</umbracoNaviHide>
    </textPage>
    <members id="1138" key="84185ada-30f5-4914-bc59-7741b0db616f" parentID="1127" level="2" creatorID="0" sortOrder="9" createDate="2017-10-08T14:22:55" updateDate="2017-10-08T14:22:55" nodeName="Members" urlName="members" path="-1,1127,1138" isDoc="" nodeType="1137" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1136" nodeTypeAlias="members">
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
  </homePAge>
</root>