@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

@* the fun starts here *@
  <!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <script src="~/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    
  </head>
<body style="background: #ccc;">

	<div id="header-container">
		<header class="wrapper clearfix">
			
			<nav role="navigation">
                 @Umbraco.RenderMacro("Navigation")
          </nav>
		
		</header>
	</div>
	<div id="main-container">
		<div id="main" class="wrapper clearfix">
			
		</div> <!-- #main -->
		<div class="container" style="background: white;">@RenderBody()</div>
			
	</div> <!-- #main-container -->

	<div id="footer-container">
		<footer class="wrapper">
			<h3>@Umbraco.Field("footer")</h3>
		</footer>
	</div>

</body>
</html>
